<h2>Echa un vistazo a nuestras novedades</h2>

<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/attack_programmer.jpg">
        <img src="assets/img/attack_programmer.jpg" alt="Cinque Terre">
      </a>
      <div class="desc">Attack on programmer</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/OIG.hPPjCPBjMv.jpg">
        <img src="assets/img/OIG.hPPjCPBjMv.jpg" alt="Forest">
      </a>
      <div class="desc">Red dead redemption</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/adjuntar_documento.jpg">
        <img src="assets/img/adjuntar_documento.jpg" alt="Northern Lights">
      </a>
      <div class="desc">Atased document</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/OIG.jpg">
        <img src="assets/img/OIG.jpg" alt="Mountains">
      </a>
      <div class="desc">Lord of the dinosaurs</div>
    </div>
  </div>
  <div class="clearfix"></div>
