<h2>Dashboard: Tu lista de favoritos</h2>

<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/arcane">
        <img src="assets\img\arcane.jpeg" alt="Cinque Terre">
      </a>
      <div class="desc">Arcane</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/attack_on_titan">
        <img src="assets\img\attack_on_titan.jpg" alt="Forest">
      </a>
      <div class="desc">Attack on Titan</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/harry_potter">
        <img src="assets\img\harry_potter.jpg" alt="Northern Lights">
      </a>
      <div class="desc">Harry Potter y la piedra filosofal</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/img/yuri-on-ice.jpg">
        <img src="assets/img/yuri-on-ice.jpg" alt="Mountains">
      </a>
      <div class="desc">Yuri on ice</div>
    </div>
  </div>
  <div class="clearfix"></div>
