*{
    font-family: sans-serif;
}


h2{
    margin-top: 90px;
}

div{
    margin: 20px 0 40px;
    width: 260px;
    background: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

label{
    margin-right: 10px;
}